{% extends "base.html" %}
{% block title %}Student Profile - LocalBiz Connect{% endblock %}

{% block content %}
    <main class="container">
      <section class="page-title">
      <h1>Student Profile</h1>
      </section> 

      <section class="card">
        <p><b>Name:</b> Abhinav R</p>
        <p><b>College:</b> MBCET</p>
        <p><b>Skills:</b> HTML, CSS, Basic Python</p>
        <p><b>Carrer Goal:</b> To become a Full Stack Engineer</p>
        <p><b>Contact :</b> 9562169890</p>
      </section>
    </main>
{% endblock %}

{% block footer %}Profile - LocalBiz Connect{% endblock %}




