* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-srife;
    background: #f4f7fb;
    color: #1f2937;
}

/* ERROR 1: topbar color and layout are wrong */
.topbar{
    background: rgb(7, 2, 96);
    color: rgb(221, 226, 245);
    padding:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ERROR 2: logo is too small */
.logo {
    font-size:30px;
    font-weight: normal;
}

/* ERROR 3: nav links are showing one below another */
.topbar nav a{
    color: white !important;
    text-decoration: none;
    padding-right: 12px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

.container{
    width:90%;
    max-width: 900px;
    margin: 30px auto;
}

/* ERROR 4: page title is wrongly aligned */
.page-title {
    padding: 0px 40px 0 40px;
}

.page-title h1 {
    color: #123c69;
    margin-bottom: 5px;
}

/* ERROR 5: service cards are not in proper grid */
.features {
    display: grid; 
    gap: 18px;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    padding-top: 20px;
}

/* ERROR 6: cards are too dark and not looking like cards */
.card {
    background: #ffffff;
    color: #000000;
    padding: 24px;
    margin-bottom: 20px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.08);
    border-radius: 12px;
}

.card h3 {
    color: #123c69;
    margin-top: 0;
}

/* ERROR 7: price is too big */
.price {
    color: #2489f5;
    font-weight: bold;
    font-size: 18px;
}

/* ERROR 8: footer color is wrong */
footer {
    text-align: center;
    padding: 18px;
    background: #e5e7eb;
    color: black;
    margin-top: 30px;
}

/* ERROR 9: mobile view is not correct */
@media (max-width: 768px) {
    .topbar {
        flex-direction: column;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}